.header
{
    background-color: black;
    height: 100px;
}
.logo
{
    background-image:url(logo-QuizzSA.png);
    background-repeat:no-repeat;
    height: 90px;
    background-size:20%;
    width:20%;
}
.header-text
{
    color:white;
    position:relative;
    margin: auto;
    bottom:50px;
    font-size:30px;
    font-weight: bold;
}
.content
{
    background-image:url(img-bg.jpg);
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    height: 160%;
    position:absolute;
    margin:0px;
    padding: 0px;
}
body
{
    margin:0px;
    padding:0px;
}
.container
{
margin:auto;
width:40%;
height:600px;
top:10%;
position:relative;
}
.header-container
{
background-color: darkturquoise;
height:19%;

}
.header-title
{
font-size:22px;
font-weight:bold;
color:white;
padding:40px;
}
.container-body
{
    height:400px;
    background-color:white;
    position: relative;
    bottom:5px;
}

.input-form
{
position: relative;;
height:100px;
width:100%;
margin: 5px 35px;
}

.form-control
{
    top:30px;
    position:relative;
    width:85%;
    height:50%;
    border-radius: 5px;
    border: 1px solid silver;
    padding:25px;
}
.icone-form
{
    
    background-size: 60%;
    height:40%;
    width:10%;
    position: relative;
    left:78%;
    bottom:10px;
}
.icon-form-login
{
    background-image:url('icone-user.png');
    background-repeat: no-repeat;
}

.icon-form-pwd
{
    background-image:url('icone-password.png');
    background-repeat: no-repeat;
}
.error-form
{
    position: relative;
    color:red;
    font-size:15px;
    font-weight: bold;
    left:50px;
}
.submit-btn
{
    background-color: darkturquoise;
    font-size: 20px;
    font-weight:bold;
    color:white;
    width:28%;
    height:50%;
    padding:10px;
    position: relative;
    top:50px;
    border-radius: 5px;
    cursor: pointer;
}
.link-form
{
position: relative;
text-decoration: none;
font-size:20px;
font-weight: bold;
color:darkturquoise;
left:10px;
top:50px;
}
.container-menu
{
margin:auto;
margin-top:2%;
width:90%;
height:600px;
}

.header-container-menu
{
width:100%;
height:15%;
background-color:skyblue;
position: relative;
}
.deconnect-btn
{
    background-color: darkturquoise;
    width:15%;
    height: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 40%;
    bottom:30px;

}
.text-header-container-menu
{
    position: relative;
color:white;
font-size:30px;
font-weight:bolder;
padding: 30px;

}
.body-container
{
    background-color:whitesmoke;
    width: 100%;
    height:145%;
    border-radius:5px;
}
.menu-container
{
    top:8%;
    width:30%;
    height: 70%;
    position: relative;
    display:inline-block;
    border-radius: 5px;
    background-color: white;
    left:3%;
}
.header-menu-container
{
margin-top:1%;
width:100%;
height:30%;
background-color: skyblue;
border-radius: 5px;
}
.nom-admin
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color:white;
    left:100%;
}
.choix-page
{
    position: relative;
    font-size:25px;
    font-weight: lighter;
    color:black;
    margin-top:2%;
    width:100%;
    height:11%;
}
.text-choix-page
{
    position: absolute;
    width:50%;
    height: 10%;
    display: inline-block;
    padding: 8px;
}

.logo-choix1
{
    width:15%;
    height: 100%;
    position:relative;
    display: inline-block;
    background-image: url('ic-liste.png');
    background-repeat: no-repeat;
    background-size: 55%;
    left:88%;
    padding: 6px;
}
.logo-choix2
{
    width:15%;
    height: 100%;
    position:relative;
    display: inline-block;
    background-image: url('ic-ajout.png');
    background-repeat: no-repeat;
    background-size: 55%;
    left:88%;
    padding: 6px;

}

{
    width
    
}

.menu-choice
{

    position: absolute;
    display: inline-block;
    width: 57%;
    height: 71%;
    background-color: white;
    left: 36%;
}
textarea-questions
.header-list
{
    font-size:  30px;
    font-weight: bold;
    color:black;

}
.container-list
{
margin:auto;
width: 70%;
height: 80%;
border: 1px solid skyblue;
border-radius: 10px;
position: relative;
font-size:30px;
font-weight: bold;
text-align: center;
}
.container-list2
{
 margin:auto;
width: 70%;
height: 80%;
border: 1px solid skyblue;
border-radius: 10px;
position: relative;   
bottom: 10%;
}
.next-btn
{
    background-color: darkturquoise;
    width:15%;
    height: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 70%;
    bottom: 60px;

}
.container_nb_question
{
    position: relative;
    left:   60%;
    width:30%;
    height: 20%;
    top:10px;
    color:white;
    font-size:20px;
}
.input-nb-question
{
    width:20%;
    height: 20%;
}
.btn-nb-question
{
    background-color: blue;

}


.white-content
{
    margin: auto;
    background-color: white;
    width: 70%;
    height: 80%;
    top:1%;
    border-radius:15px;
    position: relative;
     
}
.white-content2
{
    margin: auto;
    background-color: white;
    width: 70%;
    height: 100%;
    top:1%;
    border-radius:15px;
    position: relative;
}
.header-inscription-text
{
    width: 100%;
    height:18%;
    position: relative;
    display: inline-block;
}
.dessin-trait
{
    width: 55%;
    height: 1%;
    border-bottom: 2px solid gray;
}
.container-form-inscription
{
    position: relative;
    display: inline-block;
    width:55%;
    height: 82%;
}
.form-inscription
{

    width:100%;
    height: 12%;
    position: relative;
    left: 10%
}
.input-form-inscription
{
    border-radius: 5px;
    background-color:ALICE BLUE;
 border: 2px solid silver;   
    width: 70%;
    height: 80%;
    position: relative;
    margin: auto;
    display: inline-block;
    position: relative;
    top:5px;
}
label
{
    position: absolute;
    top: 39px;
    font-size: 20px;
    font-weight: bold;
}
.file-form
{
    position: relative;
    display: inline-block;
    background-color: skyblue;
    font-size: 20px;
    color:white;
    top:36px;
    left:35%;
}
.input-creer_compte
{
    position: absolute;
    display: inline-block;
    background-color: skyblue;
    width: 38%;
    height: 8%;
    font-size: 20px;
    color:white;
    top:30px;
}
.avatar
{
    position: absolute;
    width:40%;
    height: 50%;
    display: inline-block;
}
.input-creer_compte
{
    position: relative;
    display: inline-block;
}
.circle
{
    position: relative;
    top:10%;
    margin: 10px;
    width:300px;
    height: 300px;
    border-radius:300px;
    border: 5px solid skyblue;
    margin:auto;
    background-image:url('img5.jpg');
    background-size: 100%;
}
.circle2
{
    position: relative;
    top:10%;
    margin: 10px;
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid skyblue;
    background-image:url('img5.jpg');
    background-size: 100%;
}
.decoration-circle
{
    margin: 10px;
    width: 130px;
    height: 130px;
    border-radius: 120px;
    border:2px solid brown;
    background-size: 95%;
    background-repeat: no-repeat;
}
input[type="submit"]
{
    border: 1px solid skyblue;
    cursor: pointer;
}
input[type="file"]
{
    cursor: pointer;
}

input[type="password"]
{
    border: 2px solid skyblue;
}

.container-creation-question
{
    width: 85%;
    height: 91%;
    border: 2px solid skyblue;
    border-radius: 20px;
    position: relative;
    margin: auto;
}  

.header-container-creation-question
{
    width:100%;
    height: 5%;
    font-size:35px;
    font-weight:bold;
    margin: auto;
    color:darkturquoise;
    text-align: center;
}

.form-creation-question
{
    width:100%;
    height:30%;
    font-size: 20px;
    font-weight: bold;
}

#textarea-questions
{
    top: 6%;
    position: relative;
    left: 22%;
    background-color: silver;
    border-color: skyblue;
}

.element-question
{
    width: 100%;
    height: 17%;
    position: relative;
}
#label-questions
{
    position: absolute;
    margin-top:6%;
}


#nb-points
{
    width:20%;
    height: 30%;
    left:30%;
    top: 30%;
    background-color:silver;
    border-color: skyblue;
    position: relative;
}

#type-reponse
{
    width: 75%;
    height: 36%;
    margin-top:4%;
    position: relative;
    display: inline-block;

}

#champ-reponse
{
    border:2px solid black;
    width: 100%;
    height: 50%;
    position: absolute;
    overflow: scroll;
    margin-bottom: 3%;
}

#select
{
    height: 40%;
    width: 51%;
    margin-left: 29%;
    background-color: silver;
    position: absolute;
    display: inline-block;
    top: 21%;
}
#icone-ajout-reponse
{
    margin-left: 2%;
    position: absolute;
    display: inline-block;
}

.container-page-joueur
{
    width:80%;
    height: 90%;
    margin:auto;
    margin-top:2%;
}

.header-container-page-joueur
{
    width:100%;
    height: 28%;
    background-color: darkturquoise;
    font-size:30px;
    font-weight: bold;
}

.info-joueur
{
    width: 20%;
    height: 100%;
    display: inline-block;
}

.img-circle-joueur
{
    width:150px;
    height: 150px;
    border-radius:150px;
    position: relative;
    margin: 10px;
    display: inline-block;
}

.nom-joueur
{
    font-size:20px;
    font-weight: bold;
    color:white;
    width:100%;
    position:relative;
    display: inline-block;
    text-align: center;
    bottom: 5%;
}

.text-header-container-joueur
{
    position: absolute;
    width: 63%;
    height: 23%;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    color: white;
    text-align:center;
}

#btn-deconnexion
{
    width:17%;
    height: 20%;
    background-color: skyblue;
    color:white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    margin-left: 22%;
    margin-top:2%;
}

.font-body-container-joueur
{
   width: 100%;
   height: 72%; 
   background-color: silver;
}
.body-container-joueur
{
    width: 97%;
    height: 98%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    margin-top:1%;
}

.container-questionnaire
{
    width:69%;
    height: 96%;
    border-radius: 10px;
    top: 2%;
    position: relative;
    left:1%;
    display: inline-block;
    border: 2px solid skyblue;
}

.number-question
{
    width: 95%;
    height: 20%;
    background-color: beige;
    margin:auto;
    margin-top: 2%;
    border-color: darkturquoise;
    display: inline-block;
}

#nbre_point
{
    display: inline-block;
    position: relative;
    width:9%;
    height:5%;
    position: absolute;
    margin-top: 2%;
    left:86%;
    background-color: beige;
    font-size: 20px;
    color:black;
    font-weight: bold;
}

.cocher-reponse
{
    width: 53.5%;
    height:30%;
    position: absolute;
    display: inline-block;
    margin-top:15%;
    right: 34%;
    display: inline-block;
}

.bouton
{
    position: relative;
    bottom: 10%;
    width: 70%;
    height: 10%;
}
#btn-precedent
{
    background-color: silver;
    width: 20%;
    height: 80%;
    font-size:20px;
    font-weight: bold;
    color:white;
    margin-left: 2%;
    position: absolute;
    margin-bottom: 1%;
}

#btn-suivant
{
    background-color: darkturquoise;
    width: 20%;
    height: 80%;
    font-size:20px;
    font-weight: bold;
    color:white;
    margin-left: 80%;
    position: absolute;
    margin-bottom: 1%;
}

.container-score
{
    width:23%;
    height: 61%;
    display: block;
    position:absolute;
    left:66%;
    bottom: 8%;
}

.menu-score
{
    width: 100%;
    height: 10%;
}
.menu-score1
{
    width: 25%;
    height: 100%;
    display: inline-block;
    font-size:20px;
    font-weight: bold;
    color:brown;
    text-align: center;

}

a
{
    text-decoration:none;
    list-style: none;
}

.menu-score2
{
    width: 50%;
    height: 100%;
    display: inline-block;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

table
{
    font-size: 20px;
    font-weight: bold;
}

#btn-ajout-réponse
{
    position: relative;
    width:8%;
    height: 30%;
    margin-left: %;
    margin-top:4%;
}


.btn_ajout
{
    width:8%;
    height: 40%;
    background-image:url('ic-ajout-réponse.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position:absolute;
    left:85% ;
    top:21%;
}

.btn_check
{
        display: inline-block;
    width: 5%;
    height: 45%;
    position: relative;
    border: 2px solid yellow;
    left: 20%;
    top: 13%;
}
.btn_radio
{
    width: 10%;
    height: 50%;
    position: relative;
    left: 20%;
    top: 14%;
}

.btn_supp
{
    width: 5%;
    height: 51%;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(ic-supprimer.png);
    background-size: 100%;
    left: 25%;
    top: 13%;
    background-color: white;
}

.row
{
    margin-top:5%;
    width: 100%;
    height: 30%;
    position:relative;
}



.champ-js
{
    width: 52%;
    height: 70%;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    background-color: silver;
    left: 10%;
}
#labels
{
    margin-top: 2%;
    position: absolute;
    display: inline-block;
}

.record
{
    
    position: relative;
    display: inline-block;
    width:25%;
    height: 8%;
    left: 74%;
}

input[name="record"]
{
    width: 100%;
    height: 98%;
    background-color: darkturquoise;
    font-size: 25px;
    font-weight: bold;
    color: white;
    position: relative;
}

.couleur
{
    border-top: 2px solid skyblue;
    background-color: blue;
}

.newInput
{
    width:100%;
    height: 40%;
    position: relative;
    border:2px solid black;
    overflow: auto;
}