.header
{
    background-color: black;
    height: 100px;
}
.logo
{
    background-image:url(logo-QuizzSA.png);
    background-repeat:no-repeat;
    height: 90px;
    background-size:20%;
    width:20%;
}
.header-text
{
    color:white;
    position:relative;
    margin: auto;
    bottom:50px;
    font-size:30px;
    font-weight: bold;
}
.content
{
    background-image:url(img-bg.jpg);
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    height: 130%;
    position:absolute;
    margin:0px;
    padding: 0px;
}
body
{
    margin:0px;
    padding:0px;
}
.container
{
margin:auto;
width:40%;
height:600px;
top:10%;
position:relative;
}
.header-container
{
background-color: darkturquoise;
height:19%;

}
.header-title
{
font-size:22px;
font-weight:bold;
color:white;
padding:40px;
}
.container-body
{
    height:400px;
    background-color:white;
    position: relative;
    bottom:5px;
}

.input-form
{
position: relative;;
height:100px;
width:100%;
margin: 5px 35px;
}

.form-control
{
    top:30px;
    position:relative;
    width:85%;
    height:50%;
    border-radius: 5px;
    border: 1px solid silver;
    padding:25px;
}
.icone-form
{
    
    background-size: 60%;
    height:40%;
    width:10%;
    position: relative;
    left:78%;
    bottom:10px;
}
.icon-form-login
{
    background-image:url('icone-user.png');
    background-repeat: no-repeat;
}

.icon-form-pwd
{
    background-image:url('icone-password.png');
    background-repeat: no-repeat;
}
.error-form
{
    position: relative;
    color:red;
    font-size:15px;
    font-weight: bold;
    left:50px;
    
}
.submit-btn
{
    background-color: darkturquoise;
    font-size: 20px;
    font-weight:bold;
    color:white;
    width:28%;
    height:50%;
    padding:10px;
    position: relative;
    top:50px;
    border-radius: 5px;
    cursor: pointer;
}
.link-form
{
position: relative;
text-decoration: none;
font-size:20px;
font-weight: bold;
color:darkturquoise;
left:10px;
top:50px;
}
.container-menu
{
margin:auto;
margin-top:2%;
width:90%;
height:600px;
}

.header-container-menu
{
width:100%;
height:15%;
background-color:darkturquoise;
position: relative;
}
.deconnect-btn
{
    background-color: darkturquoise;
    width:15%;
    height: 40%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 40%;
    bottom:30px;

}
.text-header-container-menu
{
    position: relative;
color:white;
font-size:30px;
font-weight:bolder;
padding: 30px;

}
.body-container
{
    background-color:whitesmoke;
    width: 100%;
    height:110%;
    border-radius:5px;
}
.menu-container
{
    
    width:30%;
    height: 75%;
    margin-top: 2%;
    position: relative;
    display:inline-block;
    border-radius: 5px;
    background-color: white;
}
.header-menu-container
{
margin-top:1%;
width:100%;
height:30%;
background-color: skyblue;
border-radius: 5px;
}
.nom-admin
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color:white;
    left:100%;
}
.choix-page
{
    
    font-size:25px;
    font-weight: lighter;
    color:black;
    margin-top:2%;
    width:100%;
    height:11%;
}
.text-choix-page
{
    position: absolute;
    width:50%;
    height: 10%;
    display: inline-block;
    padding: 8px;
}

.logo-choix1
{
    width:15%;
    height: 100%;
    position:relative;
    display: inline-block;
    background-image: url('ic-liste.png');
    background-repeat: no-repeat;
    background-size: 55%;
    left:88%;
    padding: 6px;
}
.logo-choix2
{
    width:15%;
    height: 100%;
    position:relative;
    display: inline-block;
    background-image: url('ic-ajout.png');
    background-repeat: no-repeat;
    background-size: 55%;
    left:88%;
    padding: 6px;
}

{
    width
    
}

.menu-choice
{

    position: absolute;
    display: inline-block;
    width:70%;
    height: 81%;
}
.header-list
{
    font-size:  30px;
    font-weight: bold;
    color:black;

}
.container-list
{
margin:auto;
width: 70%;
height: 80%;
border: 1px solid skyblue;
border-radius: 10px;
position: relative;
}
.container-list2
{
 margin:auto;
width: 70%;
height: 80%;
border: 1px solid skyblue;
border-radius: 10px;
position: relative;   
bottom: 10%;
}
.next-btn
{
    background-color: darkturquoise;
    width:15%;
    height: 5%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 70%;
    bottom: 60px;

}
.container_nb_question
{
    position: relative;
    left:   60%;
    width:30%;
    height: 20%;
    top:10px;
    color:white;
    font-size:20px;
}
.input-nb-question
{
    width:20%;
    height: 20%;
}
.btn-nb-question
{
    background-color: blue;

}


.white-content
{
    margin: auto;
    background-color: white;
    width: 70%;
    height: 80%;
    top:1%;
    border-radius:15px;
    position: relative;
     
}
.white-content2
{
    margin: auto;
    background-color: white;
    width: 70%;
    height: 100%;
    top:1%;
    border-radius:15px;
    position: relative;
}
.header-inscription-text
{
    width: 100%;
    height:18%;
    position: relative;
    display: inline-block;
}
.dessin-trait
{
    width: 55%;
    height: 1%;
    border-bottom: 2px solid gray;
}
.container-form-inscription
{
    position: relative;
    display: inline-block;
    width:55%;
    height: 82%;
}
.form-inscription
{

    width:100%;
    height: 12%;
    position: relative;
    left: 10%
}
.input-form-inscription
{
    border-radius: 5px;
    background-color:ALICE BLUE;
 border: 2px solid silver;   
    width: 70%;
    height: 80%;
    position: relative;
    margin: auto;
    display: inline-block;
    position: relative;
    top:5px;
}
label
{
    position: relative;
    top:10px;
}
.file-form
{
    position: relative;
    display: inline-block;
    background-color: skyblue;
    font-size: 20px;
    color:white;
    top:36px;
    left:35%;
}
.input-creer_compte
{
    position: absolute;
    display: inline-block;
    background-color: skyblue;
    width: 38%;
    height: 8%;
    font-size: 20px;
    color:white;
    top:30px;
}
.avatar
{
    position: absolute;
    width:40%;
    height: 50%;
    display: inline-block;
}
.input-creer_compte
{
    position: relative;
    display: inline-block;
}
.circle
{
    position: relative;
    top:10%;
    margin: 10px;
    width:300px;
    height: 300px;
    border-radius:300px;
    border: 5px solid skyblue;
    margin:auto;
    background-image:url('img5.jpg');
    background-size: 100%;
}
.circle2
{
    position: relative;
    top:10%;
    margin: 10px;
    width:100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid skyblue;
    background-image:url('img5.jpg');
    background-size: 100%;
}
.decoration-circle
{
    margin: 10px;
    width: 130px;
    height: 130px;
    border-radius: 120px;
    border:2px solid brown;
    background-size: 95%;
    background-repeat: no-repeat;
}
input[type="submit"]
{
    border: 1px solid skyblue;
    cursor: pointer;
}
input[type="file"]
{
    cursor: pointer;
}

input[type="password"]
{
    border: 2px solid skyblue;
}
